body{
    background-color: antiquewhite;
}
.titulo { 
    text-align: center;
    font-size: 40px;
    color:blue;
    text-decoration: underline;   
    text-transform: uppercase;
}
p {

    background-color: lightgrey;
   
    color: beige;
   
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: cadetblue;
}

.navegacion-principal {
    

}
.navegacion-principal {
   background-color: bisque;
}

p.especial {

    background-color: lightgrey;
   
    color: green;

}